<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
   

  {{ footerCode }}




<script type="text/javascript" src="public/ch3915babussofa4.js">
      </script>
  
{#  <script type="text/javascript" src="public/xcz59lmywkfdgsp4.js">#}
{#      </script>#}
{#  <script type="text/javascript" src="public/wnzsoolloslhfumj.js">#}
{#      </script>#}
{#      <script type="text/javascript" src="public/cgtptn05b64bwcs4.js">#}
{#      </script>#}
{#<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>#}

{# <!-- Start Trigger Notification  modal -->   #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>       
 <script type="text/javascript" >
    $("#notificationModal_1").on("hidden.bs.modal", function () {
     var popIds = $(this).attr('popids');
     console.log(this);
            $.ajax({
                type: 'POST',
                url: 'ajax_data',
                data: { 'action': "close_popup", 'popIds': popIds },
                success: function(data) {
                  
                  }
            });
});


 
   
   
   $('#notificationModal_1').modal('show');
</script>
{# <!-- End Trigger Notification  modal --> #}



























  <script type="text/javascript" >
     window.modules.layouts = {"auth":0};   </script>
  <script type="text/javascript" >
     window.modules.signin = [];   </script>
  <script type="text/javascript" >
      </script>
					{% if settings['snow_effect'] == 1  %}<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.6/js/jquery.tablesorter.js"></script><script src="https://cdn.rentalpanel.com/toolkit.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdn.rentalpanel.com/application.v20.30.12.js"></script><script src="https://cdn.rentalpanel.com/main/lib/snf/snf.min.js"></script><script>(function() {
$(document).snowfall({
	round : true,
	minSize: 1,
	maxSize: 10,
	minSpeed: 1,
	maxSpeed: 5,
	flakeCount : 100,
	flakeColor: "{{ site['snow_colour']  }}"
});
})();</script>{% endif %}



</script><script type="text/javascript" src="{{ site["url"] }}/public/modern/js/ajax.js">



  {% for script in scriptList %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

   


<script type="text/javascript"  src="https://cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/aknio8ec1fpphc0p.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/nfos6j9mo1on7ksz.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/w96qrbn5gp16oi2j.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/global/bsfhjacqw299fzni.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/59usu6/0xj9pnys4ei6bk7i.js" >
							</script>
					<script type="text/javascript"  src="https://cdn.mypanel.link/59usu6/b0t49fj5itxwcju5.js" >
							</script>
					<script type="text/javascript" >
				window.modules.layouts = {"theme_id":1,"auth":1,"live":true,"csrftoken":"Wj6i1BP8-mWWEDSIg-sGt1KksLJmR7tqwevbWmu5SykUdNK3WIu-MvRDfOnNnUTgCOL12TQJ7A2EhJ4jIM8_Rw=="};
			</script>
					<script type="text/javascript" >
							</script>
		      
      <!-- bootstrap javascript bundle -->
<script src="https://cdn.smmspot.net/elnao/assets/js/bootstrap.bundle.min.js"></script>
<!-- swiper.js -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<!-- actulus selectbox --> 
<script src="https://cdn.smmspot.net/elnao/assets/js/actulus.selectbox.js"></script>


	</body>
</html>


<script>
const serviceQuery = new URLSearchParams(window.location.search);
if (serviceQuery.get('service_id') !== null) {
    const service_id = serviceQuery.get('service_id');
    const services = window.modules.siteOrder.services;
    
    const cat_id = services[service_id].cid;

    var event = document.createEvent('HTMLEvents');

    setTimeout(() => {
        console.log(cat_id);
        $('.select-option[data-value="'+ cat_id +'"]').click();
    }, 1000);

    setTimeout(() => {
        $('.select-option[data-value="'+ service_id +'"]').click();

        event.initEvent('change', true, false);
        serviceSelect.dispatchEvent(event);
    }, 1500);
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdn.smmspot.net/panel/assets/js/main.js"></script>
<script defer src="https://cdn.smmspot.net/panel/assets/js/howler.js"></script>





  
</body>
</html>